.DS_Store
Thumbs.db
.directory

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.eslintcache

__pycache__/
*.pyc
*.pyo
*.pyd
backend/.Python
backend/env/
backend/venv/
backend/.env
backend/.pytest_cache/

backend/edutest.db
*.db
*.sqlite3

.vscode/
.idea/
*.suo
*.sln

.next/
out/

build/

